<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="../build/json.js"></script>
    <script src="../build/e_full.js"></script>
    <script src="../build/EngineAdapter.js"></script>
    <script src="../dist/jquery.js"></script>
    <script src="../build/honeydew.js"></script>
    <script>
        var app = angular.module('app', ['honeydew']);
    </script>
</head>

<body ng-app="app" ng-model-options="{ updateOn: 'blur' }" ng-controller="FesController">

<input type="text" ng-model="columnQuery">

<h3>Single Input, without columns</h3>
<input fes-bind-attributes="FakeVariable">

<input ng-model="FakeVariable.attributes.style.color">

<hr>
<h3>Single Input, with columns</h3>

<div fes-repeat="child in Q_ROOT_VARIABLE_ONE.contexts">
    context {{$index}}:&nbsp;
    <input fes-bind-attributes="child">
</div>
<hr>
<h3>Simple list, with columns</h3>
<ul fes-bind-attributes="Q_ROOT">
    <li fes-repeat="child in Q_ROOT.children">
        <span style="display:inline-block;width:300px;">{{child.title}}:</span>

        <span fes-repeat="context in child.contexts">-<input fes-bind-attributes="context">*</span>
        &nbsp;
    </li>
</ul>
<hr>
<h3>Tree, without columns</h3>
<ul fes-bind-attributes="Q_ROOT">
    <li fes-repeat="child in Q_ROOT.children" inline-template="withoutcolumns">
        <span style="display:inline-block;width:300px;">{{child.title}}:</span>
        <input fes-bind-attributes="child">
        <ul>
            <li fes-repeat="child in child.children" ng-include="'withoutcolumns'"></li>
        </ul>
    </li>
</ul>
<hr>
<h3>Tree, without columns, with lazy loading</h3>
<ul fes-bind-attributes="Q_ROOT">
    <li fes-repeat="child in Q_ROOT.children" inline-template="withoutcolumnslazy">
        <span style="display:inline-block;width:300px;" ng-init="showChildren = false">{{child.title}}:</span>
        <span fes-repeat="context in child.contexts"><input fes-bind-attributes="context"></span>
        <input type="checkbox" ng-model="showChildren" ng-model-options="{ updateOn: 'default' }">
        <ul ng-if="showChildren">
            <li fes-repeat="child in child.children" ng-include="'withoutcolumnslazy'"></li>
        </ul>
    </li>
</ul>
<hr>
<h3>Tree, with columns</h3>
<ul fes-bind-attributes="Q_ROOT">
    <li fes-repeat="child in Q_ROOT.children" inline-template="withcolumns">
        <span style="display:inline-block;width:300px;">{{child.title}}:</span>

        <span fes-repeat="context in child.contexts"><input fes-bind-attributes="context"></span>
        &nbsp;
        ({{child.children.length}})
        <ul>
            <li fes-repeat="child in child.children" ng-include="'withcolumns'">

            </li>
        </ul>
    </li>
</ul>

</body>
</html>
