<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="../lib/e_full.js"></script>
    <script src="../build/json.js"></script>
    <!--<script src="../src/EngineAdapter.js"></script>-->
    <script src="../build/honeydew.js"></script>
    <script>
        var app = angular.module('app', ['honeydew']);
    </script>

    <style>
        [entered="true"] {
            background-color: #fffec9;
        }

        [required="required"] {
            border: 1px solid red;
        }
    </style>
</head>

<body ng-app="app" ng-model-options="{ updateOn: 'blur', getterSetter: true }" ng-controller="FesController">

<input type="text" size="50" ng-model="columnQuery">

<input fes-init="Q_ROOT" ng-model="Q_ROOT.attributes().style.color">

<div fes-init="Q_ROOT">
    <ul>
        <li ng-repeat="child in Q_ROOT.children()" inline-template="withoutcolumnslazy">
            <span style="display:inline-block;width:300px;">{{child.title()}}:</span>
            <span ng-repeat="context in child.contexts(columnQuery)">
                <input bind-attributes="context.attributes()">
            </span>

            <ul>
                <li ng-repeat="child in child.children()" ng-include="'withoutcolumnslazy'"></li>
            </ul>
        </li>
    </ul>
</div>

<div fes-init="OperatingProvisions">
    {{OperatingProvisions.contexts(columnQuery)[0].attributes.value}}
</div>

</body>
</html>
